<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="dirA5528701EE26FFBF346CCE20EE8ACE99">
            <Component Id="cmp602B6C735152FF97E2FB46E77C63F538" Guid="{2A221E59-3AA7-427E-8C1E-4666AF1B97F9}">
                <File Id="filC31B0DADDDEF53E635DBE65ECBE9A161" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_atomic-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp9BA3E0B27F518CB73CEC296E54A2ACB4" Guid="{7074F2F6-D0A9-4282-BBD9-20894C8A325F}">
                <File Id="fil1B65926CF42B484D5D0C087D71E42C63" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_chrono-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpF402A58B959131AC2EB749E3C4A3BFF1" Guid="{13E525A0-25BD-4F84-8210-4B03132CE1C0}">
                <File Id="fil3D8C9501E044C73795D72B8262613198" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_container-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp4EF13B5C6A880844EC6FD6A10603B5F5" Guid="{8D9F0289-5B40-468A-B331-30210A663133}">
                <File Id="fil379B008F2A32A32AEB95AA3414EF5468" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_context-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpF1DD92C835BC7C17526AB5E5284879E5" Guid="{CFA8C236-EAAA-4916-B787-6A69157AE17A}">
                <File Id="fil44DB62117031DDF08CED655036A1811A" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_contract-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp098AEAE24587943CBB67B004EC620C0F" Guid="{8C1B8091-C92D-4C91-B045-E9387BFE959F}">
                <File Id="fil5553BFC86A6AE92015D69A1C84F33A22" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_coroutine-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp351DF03FC97D267B0FC279238D1A37E1" Guid="{6BD6EA2B-5E8E-477A-AE53-B5E88502A391}">
                <File Id="fil132595861FCF1A886B6D9ADE39C6C1CB" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_date_time-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp31F7162975AB0BEAB0D373348EE0DC9E" Guid="{193B043A-80EA-4FA4-B122-7A1614B468CD}">
                <File Id="fil608B162814E3C60D2125159FE743C853" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_fiber-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpF3EF53DC3B4C54305DBA336BFAF963FC" Guid="{0D19FC93-136C-4BBA-8782-9E4E12613BEA}">
                <File Id="fil6C3FE2C2F28CEC9E2F31A17D61C9F668" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_filesystem-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpF9346A8C0C3505A94978AC3156E8FB8B" Guid="{879128CA-13AA-4B97-8EE5-6E1F009099E0}">
                <File Id="fil09450C4889454FBDBF25E089C0840FF5" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_graph-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpF4E741FDA49FDEBC6235949D6175AF8D" Guid="{B0807883-8201-4BFE-A6D5-D6A2DF583265}">
                <File Id="fil7B2A713426FB2C51FAF2EFF08ACEB3CD" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_iostreams-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpC960CFD73C469F0B6AA8E0FE6B530D41" Guid="{C3F58065-3718-4911-8A6B-7E0AB769E17B}">
                <File Id="fil5FD8D7A382256823E5E0FE5EED9F8E03" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_locale-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpA89C7091E46D342CA57A140788B76B89" Guid="{53DFBCAF-7B4D-4BBE-B90C-DE7265192457}">
                <File Id="filF0639A7A075EC174A801AC8F25E007A7" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_log-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpE86C56932F94775D71DA3F648FE125A8" Guid="{BC77071B-6A0E-4749-B352-F6DD49ACB5C1}">
                <File Id="filCDA6CE62E37BCA8C2F0246B6FEB652EB" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_log_setup-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp2E1B3413BB1259F8B2E7EF69A5C2CF41" Guid="{271BBFBC-59C6-4973-A6F5-1ECD28D880F6}">
                <File Id="fil16BF90E84AB60DBB85B05790EF6B07E2" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_math_c99-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpA16F34D0630C48CF9DD385287E9CDE8E" Guid="{BECBE722-4FFC-447C-A691-59B348FD205C}">
                <File Id="fil7414A23FBCD8E2EE33E73F48293FF138" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_math_c99f-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp1E048BD127D263AFCECA88597B3165D2" Guid="{3E32C854-933E-4360-9AA3-D462E8C484E0}">
                <File Id="fil6A1DD426B3EFC85FF373DDCABC71AAB1" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_math_c99l-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp9E54E5F288E409D51E381222D0C8F757" Guid="{084E2D13-6DDD-48C1-953E-35049CD64C06}">
                <File Id="fil81B072BB45ECA803A118F81A3D262BA4" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_math_tr1-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpF00742A9BC18BDB34A2A92090B87D134" Guid="{0EE8F648-AD94-4A4C-98BB-DAF78A7DFE1D}">
                <File Id="fil770CA53DFB7717F26B4F4D9C7A4A61DA" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_math_tr1f-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp25EA53C6ECEF1D6FC9DDE2472EB59154" Guid="{2F14A465-6F36-4D23-BCCE-B6416207645E}">
                <File Id="filDC09FDF2C21638A206383FC2C3E9C619" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_math_tr1l-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpE900BFB513B472DD6D6285F5546CD90D" Guid="{BC12AB74-B6E9-4395-8865-4F45090D6822}">
                <File Id="filB5FA5DF8BE411E72F4665553A4F3038A" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_prg_exec_monitor-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp4EB7AB3E8400ACCE88B516342EA349C6" Guid="{4A0D0B36-F3EF-4BBE-9F83-019F09BC5D85}">
                <File Id="fil03C221000FC627667D5AC10283358645" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_program_options-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp3FAD0537CF53E8921145450B24035FA2" Guid="{61FD79C2-1C13-462A-86E4-3A44A226148E}">
                <File Id="fil81D13F2CBC7AA66F6900641CE06D229D" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_python27-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpFAD3A04EB2C79A4F0D014AC88F9121DC" Guid="{2C24CFCD-12FF-48DE-8B29-6525B77EA358}">
                <File Id="filBBC4A2DB143C818D2B4AF9F3E5A11F1D" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_random-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp5497AB6AFF80BA8BB6753D0E2E5F8C26" Guid="{900CAD59-57F6-4149-ADF3-C6F582E35CDD}">
                <File Id="filDD19A09BD32F0DEC05F129E593D086B7" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_regex-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpF0CEC5DB746A222C0491BC0CBFE48452" Guid="{B9CA68ED-A7E1-48EE-8E3B-D9E1FDA0B493}">
                <File Id="fil711AF38ACD81F972FB0E73F6EEA7DE03" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_serialization-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpE076ECC1684825B3FF360C99FD3360EC" Guid="{DA470E5E-A04C-434A-926E-2F976627294B}">
                <File Id="fil563794E4B6B7BC039368CE6520BD68C9" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_signals-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpAA887EDEB48C1E914B5D8E35C80ACEDA" Guid="{99C7F24A-5E43-49E4-A6F1-EE8D0FC4C7F2}">
                <File Id="fil18095E08340BC024F829B432A08BEE17" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_stacktrace_noop-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp10AC60230ECE4DF4B5BBA8ABEDE91CC8" Guid="{C0EAC440-4C27-4CE5-88FA-A62C787B28C0}">
                <File Id="fil759D5B82AE74209DA2E38BFC54DACE84" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_stacktrace_windbg-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp1A684BAA1FC6551F04E11AFE3DF730D3" Guid="{5D5F2C0C-E3FE-4D80-B544-CBC00A297FF3}">
                <File Id="filCCB1374041A3E739E669BC548A949EF0" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_stacktrace_windbg_cached-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp10B5A8E8E7EA2F3E22E38954D0F77DA3" Guid="{07AE713C-819D-425F-981A-3ACD569294E5}">
                <File Id="fil39FBD6C8BFBE9BD269776DFE6960839D" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_system-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp034A545AE92344F91AE3575A209929BF" Guid="{B7F93312-D64E-4003-86D5-0EFA2742A6F1}">
                <File Id="fil3D737DBD462D34473AE5543DA9CF0E9B" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_thread-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpC9D0733AC15FA62F48E41D58CE400F84" Guid="{A8489D62-0C44-49C5-AE14-D4A3D9FED46C}">
                <File Id="fil6237AC1D1F9965203288978EB256D406" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_timer-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpB3DB5AD81A2A8B895FCC0B81E2E2C726" Guid="{E1EFC42E-B035-4234-917A-958D5B0840AF}">
                <File Id="fil0582115C05365D795FFA017D8055DEE5" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_type_erasure-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpD083F7830E3D84CB7C1ABE58DF08F33A" Guid="{6B0EF82F-DDDB-4282-B0E5-5038736EF5B6}">
                <File Id="filAFD7D01504EAED96E229245B9F38C2B8" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_unit_test_framework-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmp2ADAE9D904BC287C5AADD58E14C0CE83" Guid="{FD4AB3B6-4F5D-49B3-9AB1-210A954DBF12}">
                <File Id="fil1FA33B07F8AD885E17075046131642F1" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_wave-vc141-mt-x64-1_68.dll" />
            </Component>
            <Component Id="cmpD9A268E62B672FD62BB46CFA61042E9F" Guid="{6C9373F5-9D9E-4BD4-A32A-A8C22B34B125}">
                <File Id="fil3E1CCE18AFE89E9ACC17FE5115D4E866" KeyPath="yes" Source="$(env.BOOST_STAGEDIR)\bin\boost_wserialization-vc141-mt-x64-1_68.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BoostComponentGroup">
            <ComponentRef Id="cmp602B6C735152FF97E2FB46E77C63F538" />
            <ComponentRef Id="cmp9BA3E0B27F518CB73CEC296E54A2ACB4" />
            <ComponentRef Id="cmpF402A58B959131AC2EB749E3C4A3BFF1" />
            <ComponentRef Id="cmp4EF13B5C6A880844EC6FD6A10603B5F5" />
            <ComponentRef Id="cmpF1DD92C835BC7C17526AB5E5284879E5" />
            <ComponentRef Id="cmp098AEAE24587943CBB67B004EC620C0F" />
            <ComponentRef Id="cmp351DF03FC97D267B0FC279238D1A37E1" />
            <ComponentRef Id="cmp31F7162975AB0BEAB0D373348EE0DC9E" />
            <ComponentRef Id="cmpF3EF53DC3B4C54305DBA336BFAF963FC" />
            <ComponentRef Id="cmpF9346A8C0C3505A94978AC3156E8FB8B" />
            <ComponentRef Id="cmpF4E741FDA49FDEBC6235949D6175AF8D" />
            <ComponentRef Id="cmpC960CFD73C469F0B6AA8E0FE6B530D41" />
            <ComponentRef Id="cmpA89C7091E46D342CA57A140788B76B89" />
            <ComponentRef Id="cmpE86C56932F94775D71DA3F648FE125A8" />
            <ComponentRef Id="cmp2E1B3413BB1259F8B2E7EF69A5C2CF41" />
            <ComponentRef Id="cmpA16F34D0630C48CF9DD385287E9CDE8E" />
            <ComponentRef Id="cmp1E048BD127D263AFCECA88597B3165D2" />
            <ComponentRef Id="cmp9E54E5F288E409D51E381222D0C8F757" />
            <ComponentRef Id="cmpF00742A9BC18BDB34A2A92090B87D134" />
            <ComponentRef Id="cmp25EA53C6ECEF1D6FC9DDE2472EB59154" />
            <ComponentRef Id="cmpE900BFB513B472DD6D6285F5546CD90D" />
            <ComponentRef Id="cmp4EB7AB3E8400ACCE88B516342EA349C6" />
            <ComponentRef Id="cmp3FAD0537CF53E8921145450B24035FA2" />
            <ComponentRef Id="cmpFAD3A04EB2C79A4F0D014AC88F9121DC" />
            <ComponentRef Id="cmp5497AB6AFF80BA8BB6753D0E2E5F8C26" />
            <ComponentRef Id="cmpF0CEC5DB746A222C0491BC0CBFE48452" />
            <ComponentRef Id="cmpE076ECC1684825B3FF360C99FD3360EC" />
            <ComponentRef Id="cmpAA887EDEB48C1E914B5D8E35C80ACEDA" />
            <ComponentRef Id="cmp10AC60230ECE4DF4B5BBA8ABEDE91CC8" />
            <ComponentRef Id="cmp1A684BAA1FC6551F04E11AFE3DF730D3" />
            <ComponentRef Id="cmp10B5A8E8E7EA2F3E22E38954D0F77DA3" />
            <ComponentRef Id="cmp034A545AE92344F91AE3575A209929BF" />
            <ComponentRef Id="cmpC9D0733AC15FA62F48E41D58CE400F84" />
            <ComponentRef Id="cmpB3DB5AD81A2A8B895FCC0B81E2E2C726" />
            <ComponentRef Id="cmpD083F7830E3D84CB7C1ABE58DF08F33A" />
            <ComponentRef Id="cmp2ADAE9D904BC287C5AADD58E14C0CE83" />
            <ComponentRef Id="cmpD9A268E62B672FD62BB46CFA61042E9F" />
        </ComponentGroup>
    </Fragment>
</Wix>