<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
            <DirectoryRef Id="dir68B9BCF6132CF919BBBE4B8C2481A832">
                <Directory Id="dirCDE048D0B9CB2810C6439641D0C6DBCA" Name="qijpeg">
                    <Component Id="cmpB07413E1D93ABF875320A4214422F5DC" Guid="{48240A11-B9F4-4DBA-A12C-3BB4DB00AEB4}">
                        <File Id="fil832A5A0D82200820A5F14D4826E76A67" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\include\qijpeg\jconfig.h" />
                    </Component>
                    <Component Id="cmp39F2D7BA4DE827322D68F4B4EB4E8D41" Guid="{4D6BA3CA-8A76-4919-934C-8A17134AE4B1}">
                        <File Id="filDF12B4DF23EC13EB0BDC624830C11187" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\include\qijpeg\jerror.h" />
                    </Component>
                    <Component Id="cmp004D315A69D9B3BB3FD021C794FFA366" Guid="{E1743D95-68DD-4827-8581-839C1CC3A2ED}">
                        <File Id="filCBA604943952F2445A2841FC59E194EB" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\include\qijpeg\jmorecfg.h" />
                    </Component>
                    <Component Id="cmpA4DAAAD255310E3ECB9B8FD72E66EABF" Guid="{726E5EDB-DBF7-407C-8A7F-C3C3F94CD2E0}">
                        <File Id="fil1A87E348D155A3493B86031EE664515D" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\include\qijpeg\jpegint.h" />
                    </Component>
                    <Component Id="cmpC770F2FA40C85B949A02C21191DF6EB3" Guid="{5A37A4D5-1D5E-4F80-8C63-69A1584C21E9}">
                        <File Id="filCAEE7F2A42B635F8F0258F42935B2DC3" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\include\qijpeg\jpeglib.h" />
                    </Component>
                </Directory>
            </DirectoryRef>
            <DirectoryRef Id="dirCC4BF51C3FB0120CE9B785729700549B">
                <Component Id="cmp651A4AB1C58F4A1ABB7DFE5DD1FD7FF9" Guid="{4210C858-8D63-4893-BD6B-0CC35B31DA16}">
                    <File Id="fil06ABCBA19ED8CBFF98DD8AF70622AC46" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\lib\qijpeg.lib" />
                </Component>
            </DirectoryRef>
            <DirectoryRef Id="dir9912D30B64EC8FD5585A472B9130C769">
                <Directory Id="dir29B484CD2B5CA38B7D16551A3DF2CFEA" Name="qijpeg">
                    <Component Id="cmp67C1A851FD89DD8F9AB5D1D48913BAA1" Guid="{650DC4A3-0CAD-47E3-A1B4-03AE4B64C68B}">
                        <File Id="filB173AC0C18D36AC8CE97AFBFA0EF2CEB" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\share\cmake\qijpeg\qijpeg-config.cmake" />
                    </Component>
                </Directory>
            </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LibJpegDevComponentGroup">
            <ComponentRef Id="cmpB07413E1D93ABF875320A4214422F5DC" />
            <ComponentRef Id="cmp39F2D7BA4DE827322D68F4B4EB4E8D41" />
            <ComponentRef Id="cmp004D315A69D9B3BB3FD021C794FFA366" />
            <ComponentRef Id="cmpA4DAAAD255310E3ECB9B8FD72E66EABF" />
            <ComponentRef Id="cmpC770F2FA40C85B949A02C21191DF6EB3" />
            <ComponentRef Id="cmp651A4AB1C58F4A1ABB7DFE5DD1FD7FF9" />
            <ComponentRef Id="cmp67C1A851FD89DD8F9AB5D1D48913BAA1" />
        </ComponentGroup>
    </Fragment>
</Wix>