<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="dirA5528701EE26FFBF346CCE20EE8ACE99">
            <Component Id="cmp74684D5461CBEE67C1E225C7A73D2892" Guid="{FA8A32EB-4809-455C-910B-F8120EBC6FED}">
                <File Id="fil6ECAB193266104D17482AAC7628F8D78" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\bin\port.dll" />
            </Component>
            <Component Id="cmp073F8049B65CF4FCBDA9EC959B2AB28A" Guid="{307B516B-18D5-4469-8838-3A1DBF3F1B87}">
                <File Id="filEC8954299A77F18DC5C5741CBF6A0583" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\bin\sched.dll" />
            </Component>
            <Component Id="cmpD29FEE1F8E0790B75A06893F39212FE6" Guid="{1AD85FF7-B15A-470B-9E70-6883F31E8343}">
                <File Id="filC565E984FA60C620171C833B27B0FFBD" KeyPath="yes" Source="$(env.URBI_STAGEDIR)\bin\serialize.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LibPortComponentGroup">
            <ComponentRef Id="cmp74684D5461CBEE67C1E225C7A73D2892" />
            <ComponentRef Id="cmp073F8049B65CF4FCBDA9EC959B2AB28A" />
            <ComponentRef Id="cmpD29FEE1F8E0790B75A06893F39212FE6" />
        </ComponentGroup>
    </Fragment>
</Wix>