<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Urbi' Id='7363d119-1b8e-4e12-ad25-8a4060ffddaa' UpgradeCode='96272dfd-12a1-4a21-9a6d-fc4db639ad64'
    Language='1033' Codepage='1252' Version='3.0.0' Manufacturer='Gostai'>

    <Package Id='*' Keywords='Installer'
      Description="Urbi 3.0 Installer"
      Comments='Urbi is a registered trademark of Gostai' Manufacturer='Gostai'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Upgrade Id='96272dfd-12a1-4a21-9a6d-fc4db639ad64'>
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND' Maximum='3.0.0' IncludeMaximum='no' />
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND' Minimum='3.0.0' IncludeMinimum='yes' Maximum='3.0.0' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND' Minimum='3.0.0' IncludeMinimum='no' />
    </Upgrade>

    <CustomAction Id='AlreadyUpdated' Error='[ProductName] is already installed.' />
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />

    <Media Id='1' Cabinet='Urbi.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Urbi Installation [1]" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <!-- <Icon Id="GostaiStudio.exe" SourceFile="GostaiStudio\bin\GostaiStudio.exe" /> -->
    <Property Id="ARPPRODUCTICON" Value="GostaiStudio.exe" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='Urbi'>
          <Directory Id="dirA5528701EE26FFBF346CCE20EE8ACE99" Name="bin" />
          <Directory Id="dir68B9BCF6132CF919BBBE4B8C2481A832" Name="include" />
          <Directory Id="dirCC4BF51C3FB0120CE9B785729700549B" Name="lib">
            <Directory Id="dir1CB15A6A9DBD40639505E55800E6AE3D" Name="gostai">
              <Directory Id="dir4608FB7F01828C280AE0493F68A4A474" Name="engine" />
              <Directory Id="dir59320BEFEC7F765BA59642659C6D97BB" Name="remote" />
              <Directory Id="dirDE4E2DD7457CABAB5956C8B46DEE6CF5" Name="uobjects">
                <Directory Id="dir08B855A3584F30A090726DC251BE363F" Name="test" />
                <Directory Id="dir48CC2AC478BFF29FDAF78CE362752C18" Name="urbi" />
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="dir9777D8246D1EFF4BCE1BBB3725F54761" Name="share">
            <Directory Id="dir9912D30B64EC8FD5585A472B9130C769" Name="cmake" />
          </Directory>
        </Directory>
      </Directory>

      <!-- <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Gostai Studio 3.0">
          <Component Id="ProgramMenuDir" Guid="8a63755a-5e8e-4d84-be27-a079651b0c34">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory> -->

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Urbi' Level='1'>
      <ComponentGroupRef Id='UrbiComponentGroup' />
      <ComponentGroupRef Id='LibPortComponentGroup' />
      <ComponentGroupRef Id='BoostComponentGroup' />
      <!-- <ComponentRef Id='ProgramMenuDir' /> -->
	  <ComponentGroupRef Id='UrbiDevComponentGroup' />
      <ComponentGroupRef Id='LibPortDevComponentGroup' />
      <ComponentGroupRef Id='BoostDevComponentGroup' />
      <ComponentGroupRef Id='LibJpegDevComponentGroup' />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <InstallExecuteSequence>
      <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

  </Product>
</Wix>
