<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Gostai Urbi 3.0' Id='*' UpgradeCode='96272dfd-12a1-4a21-9a6d-fc4db639ad64'
    Language='1033' Codepage='1252' Version='3.0.0' Manufacturer='Gostai'>

    <Package Keywords='Installer'
      Description="Gostai Urbi 3.0 Installer"
      Comments='Gostai Urbi is a registered trademark of Gostai' Manufacturer='Gostai'
      InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />

    <MajorUpgrade
        Schedule="afterInstallInitialize"
        AllowSameVersionUpgrades="yes"
        DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>

    <WixVariable Id="WixUILicenseRtf" Value="$(env.URBI_STAGEDIR)\LICENSE.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Property Id="ARPPRODUCTICON" Value="cube.exe" />
    <Icon Id="cube.exe" SourceFile="$(env.URBI_STAGEDIR)\share\icons\cube.ico" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='UrbiRoot' Name='Urbi'>
          <Directory Id='INSTALLDIR' Name='3.0.0'>
            <Directory Id="dirA5528701EE26FFBF346CCE20EE8ACE99" Name="bin" />
            <Directory Id="dir68B9BCF6132CF919BBBE4B8C2481A832" Name="include" />
            <Directory Id="dirCC4BF51C3FB0120CE9B785729700549B" Name="lib">
              <Directory Id="dir1CB15A6A9DBD40639505E55800E6AE3D" Name="gostai">
                <Directory Id="dir4608FB7F01828C280AE0493F68A4A474" Name="engine" />
                <Directory Id="dir59320BEFEC7F765BA59642659C6D97BB" Name="remote" />
              </Directory>
            </Directory>
            <Directory Id="dir9777D8246D1EFF4BCE1BBB3725F54761" Name="share">
              <Directory Id="dir9912D30B64EC8FD5585A472B9130C769" Name="cmake" />
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="PROGRAM_MENU_FOLDER" Name="Gostai Urbi 3.0" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="PROGRAM_MENU_FOLDER">
      <Component Id="Shortcuts" Guid="*">
        <Shortcut Id="UrbiServerShortcut" Name="Urbi Server" Target="[#fil466338AEF5B2FAB2B1A35BD92CD9B499]" Arguments="--start --port=54000" Icon="cube.exe" IconIndex="0" WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="UrbiServerInteractiveShortcut" Name="Urbi Server Interactive" Target="[#fil466338AEF5B2FAB2B1A35BD92CD9B499]" Arguments="--start --port=54000 -- --interactive" Icon="cube.exe" IconIndex="0" WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="REMOVE_PROGRAM_MENU_FOLDER" On="uninstall" />
      </Component>
    </DirectoryRef>

    <Feature Id='Complete' Title='Urbi' Description='The [ProductName] complete package' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='disallow' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='Runtime' Title='Runtime' Description='The [ProductName] runtime binaries.' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='disallow'>
        <ComponentGroupRef Id='UrbiComponentGroup' />
        <ComponentGroupRef Id='LibPortComponentGroup' />
        <ComponentGroupRef Id='BoostComponentGroup' />
        <ComponentRef Id='Shortcuts' />
      </Feature>
      <Feature Id='SDK' Title='SDK' Description='The [ProductName] SDK for developers.' Level='2' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <ComponentGroupRef Id='UrbiDevComponentGroup' />
        <ComponentGroupRef Id='LibPortDevComponentGroup' />
        <ComponentGroupRef Id='BoostDevComponentGroup' />
        <ComponentGroupRef Id='LibJpegDevComponentGroup' />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
