[submodule "external/libjpeg"]
	path = external/libjpeg
	url = ../libjpeg.git
[submodule "external/libport"]
	path = external/libport
	url = ../libport.git
[submodule "build-common"]
	path = build-common
	url = ../../utils/build-common.git
